.Advertisement__header {
  align-items: flex-start;

  padding: 2rem 0 0 0;
}

.Advertisement__summary-box {
  max-width: 50rem;
  margin: 0 4rem 0 0;
}

.Advertisement__title {
  margin: 0;

  font-size: var(--h2-size);
  line-height: 1.35;
}

.Advertisement__location {
  margin: 0.5rem 0;

  font-size: var(--h5-size);
}

.Advertisement__tags-box {
  margin: 2rem 0 0 0;
}

.Advertisement__tag {
  margin: 0 0.5rem 0 0;
  padding: 0.25rem 2rem;
  border-radius: 0.5rem;

  color: white;

  background: var(--primary-500);
}

.Advertisement__host-box {
  display: flex;
  justify-content: space-around;
  align-items: center;

  max-width: 20rem;
}

.Advertisement__host-name {
  margin: 0 1rem 0 0;

  font-size: var(--h5-size);
}

.Advertisement__host-picture {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  font-size: var(--xs-size);
  text-align: center;

  background: var(--neutral-300);
}

.Advertisement__rating {
  margin: 1.5rem 0 0 0;

  text-align: right;
}

.Advertisement__rating i {
  margin: 0 0 0 0.5rem;

  color: var(--neutral-200);
  font-size: 1.5rem;
}

.Advertisement__rating i.colored {
  color: var(--primary-500);
}

.Advertisement__collapses-box {
  display: flex;
  justify-content: space-between;

  margin: 0 0 2rem 0;
}

.Advertisement__collapse {
  width: 36rem;
}
