header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 3rem 0;
}

.main-nav ul {
  display: flex;
}

.main-nav li {
  margin: 0 0 0 3rem;
}

.header-link {
  color: var(--primary-500);
  font-size: var(--h3-size);
  text-decoration: none;
}
