.thumbnail {
  position: relative;

  width: calc((100% - 9rem) / 3);
  margin: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;

  background: linear-gradient(
    190deg,
    var(--primary-500),
    var(--primary-900)
  );
}

.thumbnail::before {
  float: left;

  padding-top: 100%;

  content: "";
}

.thumbnail__title {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  margin: 0;

  color: white;
  font-size: var(--h5-size);
  font-weight: 500;
}
